.filter-form {
  width:250px;
  border:1px solid #eee;
  padding:10px;
}

.filter-form>h4 { margin:0px; }

.filter-item:first-child {
  margin-top:15px;
}

.filter-item .filter-name {
  display:inline-block;
  width:150px;
  text-align:right;
}

.filter-actions { margin-left:150px; margin-top:15px; }
.filter-reset { font-size:0.8em; }

